.rude_bot{
  font-family: 'Cabin Sketch', cursive;
  font-size: 100px;
  text-shadow: 0px 1px #000000;
}

.rant{
  font-family: 'Coming Soon';
  text-shadow: 1px 1px #000000;
}

.form_size{
  width: 70%;
}

body{
  background-color: #f4f4f4;
}
